{% extends 'base.html'%}

{% load crispy_forms_tags %}


{% block content%}
<div class="container">
    <div class="d-flex row justify-content-center align-items-center py-md-5 py-3" style="min-height: 90vh;">
        <div class="col-12">
            <form action="." method="post">
                <h4>Enter amount</h4>
                <hr />
                {% csrf_token%}
                {{payment_form | crispy}}
                <p>
                    <input class="btn btn-primary" type="submit">
                </p>
            </form>
        </div>
    </div>
</div>

{% endblock content%}